@model LuckySpin.Models.Spin
@{
    Layout = "_Layout";
}
<button onclick='history.go(0)'>Spin</button>
<div>@Model.Numbers[0]</div><div>@Model.Numbers[1]</div><div>@Model.Numbers[2]</div>
<h2>Current Balance: @ViewBag.Balance.ToString("C")</h2>

<h2 style="display:@ViewBag.Display">Congratulations! You Win</h2>
<img src="/Images/LuckySpinCoins.jpg" class="animated bounce" alt="Coins" style="display:@ViewBag.Display" />